<div id="main-div">
    <app-navbar
        (categoryClicked)="toggleCategory()"
        (statusClicked)="toggleStatus()"
        (taskClicked)="toggleTask()"
    ></app-navbar>

    <div id="content">
        @if(showCategory)
        {
            <app-category-manage></app-category-manage>
        }
        @if(showStatus)
        {
            <app-status-manage></app-status-manage>
        }
        @if(showTask)
        {
            <app-task-manage></app-task-manage>
        }
    </div>
</div>