<nav class="navbar bg-body-tertiary ">
    <form class="container-fluid d-flex justify-content-between">
        <div>
            <button type="button" class="btn" (click)="onCategoryClick()">Kategorie</button>
            <button type="button" class="btn" (click)="onStatusClick()">Statusy</button>
            <button type="button" class="btn" (click)="onTaskClick()">Zadania</button>
        </div>
        <button type="button" class="btn" data-bs-toggle="button">Wyloguj</button>
    </form>
</nav>