<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div id="login-div">
        <p class="fs-2 fw-bold text-center text-primary">Rejestracja</p>
        <div class="input-group mb-3">
            <span class="input-group-text text-primary w-32" id="basic-addon1">Nazwa</span>
            <input type="text" class="form-control" id="username" formControlName="username">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text text-primary w-32" id="basic-addon1">E-Mail</span>
            <input type="email" class="form-control" id="email" formControlName="email">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text text-primary w-32">Hasło</span>
            <input type="password" class="form-control" id="password" formControlName="password">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text text-primary w-32">Powtórz Hasło</span>
            <input type="password" class="form-control" id="repeat-password" formControlName="repeat_password">
        </div>
        <button type="submit" class="btn btn-primary d-grid gap-2 col-6 mx-auto">Utwórz konto</button>
    </div>
</form>